* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #F8F8F8;
    margin: 0;
    width: 100%;
}

p{
    font-style: Impact, fantasy;
    font-weight: 900;
    font-stretch: ultra-expanded;
    color: #070607;
    background-color: #fbfbfb;
   font-size: 1.5em;
}
.main-container {
    display: grid;
    margin-top: 1px;
    grid-template-columns: 60% 1fr;
    gap: 5rem;
    padding-left: 2.87rem;
    box-sizing: border-box;
    height: 90vh;
    background-color: #fff;
}

.canvas-section {
    position: relative;
    display: flex;         
    justify-content: center; 
    align-items: center;     
    background-color: #fff;
    height: 90%;       
        
}

.back-to-galery {
    position: absolute;  
    top: 1.25rem;           
    left: 0;             
    width: 7rem;
    height: 1rem;
    text-decoration: none;
    background-color: #fff;
    border: none;
    font-size: 0.875rem;
}

.canvas-box{
    
    background-color: #dccdcd;
}

.sidebar {
    background-color: #F8F8F8;
}
.sidebar button img {
    height: 25px;
    width: 25px;
    cursor: pointer;
    
}

.sidebar button{
    padding: 5px;
    border: none;
    background-color: #fff;
}
.sidebar p{
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #070607;
    font-size: 1.5rem;
    margin-bottom: 40px;
   
}
.text-color{
    height: 100%;
    border: 1px solid #F8F8F8;
    background-color: #fff;
    cursor: pointer;
}
.buttons-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: auto auto; 
    border-radius: 25px;
    border: 1px solid #F8F8F8;
    max-width: 30.37rem;
    background-color: #fff;
    overflow: hidden;
    margin-left: 2.875rem;
   
    align-items: center;
}

.buttons-section input[type="text"]{
    border: 7px solid #F8F8F8;
    padding: 2.65rem;
    grid-column: 1 / span 10; 
    outline: none;
}

.downloadbtn a{
    color: white; 
}

.downloadbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 30px;
    background-color: #ebebeb;
    border: 2px solid black;
    border-radius: 10px;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
.selected {
    border: 2px solid rgb(222, 222, 222);
}

.sticker-gallery {

    display: flex;
    border-color: lightslategrey;
   
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    margin-bottom: 50px;
}

.uploadbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 1px dashed #aaa;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
}


.sticker-gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(237, 237, 237);
    border-radius: 40px;
  
}

.stickers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 100px;
}

.btn.sticker {
    font-size: 40px; 
    border: 2px solid black;
    border-radius: 10px; 
    padding: 10px; 
    margin: 0 10px;
}
